<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92795922738-dqkllbhhuj3pl341rgv0k2mds16ijoa8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92795922738-dqkllbhhuj3pl341rgv0k2mds16ijoa8</string>
	<key>API_KEY</key>
	<string>AIzaSyA31tyWC18_LfFbh5aBtswbPjw91IbIPHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>92795922738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ucm.evplug</string>
	<key>PROJECT_ID</key>
	<string>evplug-94472</string>
	<key>STORAGE_BUCKET</key>
	<string>evplug-94472.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92795922738:ios:758471b030134fb6110f2b</string>
</dict>
</plist>